server.port=port

spring.jpa.hibernate.ddl-auto=create-drop
spring.datasource.url=jdbc:mysql://ip:port/DB?createDatabaseIfNotExist=true&serverTimezone=UTC
spring.datasource.username=username
spring.datasource.password=password

spring.data.rest.default-page-size=20
spring.data.rest.sort-param-name=id
